[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
	branch = master
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/nutiteq/rapidjson.git
	branch = master
[submodule "angle-uwp"]
	path = angle-uwp
	url = https://github.com/nutiteq/angle-uwp.git
	branch = master
[submodule "angle-metal"]
	path = angle-metal
	url = https://github.com/nutiteq/angle-metal.git
	branch = master
[submodule "harfbuzz"]
	path = harfbuzz/harfbuzz
	url = https://github.com/nutiteq/harfbuzz.git
	branch = master
[submodule "brotli/brotli"]
	path = brotli/brotli
	url = https://github.com/nutiteq/brotli.git
	branch = master
[submodule "zlib/zlib"]
	path = zlib/zlib
	url = https://github.com/nutiteq/zlib.git
	branch = master
[submodule "pugixml/pugixml"]
	path = pugixml/pugixml
	url = https://github.com/nutiteq/pugixml.git
	branch = master
[submodule "miniz/miniz"]
	path = miniz/miniz
	url = https://github.com/nutiteq/miniz.git
[submodule "libwebp/libwebp"]
	path = libwebp/libwebp
	url = https://github.com/nutiteq/libwebp.git
[submodule "libjpeg/libjpeg"]
	path = libjpeg/libjpeg
	url = https://github.com/nutiteq/libjpeg-turbo.git
[submodule "libpng/libpng"]
	path = libpng/libpng
	url = https://github.com/nutiteq/libpng.git
[submodule "freetype/freetype"]
	path = freetype/freetype
	url = https://github.com/mtehver/freetype.git
[submodule "cryptopp/cryptopp"]
	path = cryptopp/cryptopp
	url = https://github.com/nutiteq/cryptopp.git
[submodule "harfbuzz/harfbuzz"]
	path = harfbuzz/harfbuzz
	url = https://github.com/nutiteq/harfbuzz.git
